/* -----------------------------------Gif Loading javascript-------------- */

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body .modalLoading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;

}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modalLoading {
    display: block;
}

/* ---------------------------------------------- */